body {
  background-color: white;
}

.container-fixed {
  width: 950px;
  margin: auto;
}

.border-8 {
  border-width: 8px !important;
}

h6 {
  padding-left: 5px;
}

.card {
  margin-bottom: 3px;
  background-color: white;
}

#wrench-logo {
  position: relative;
  height: 50px;
  width: 50px;
}

#title-card {
  background-color: white;
}

#title-card h6 {
  margin: auto;
}

#task-details-card {
  overflow: auto;
  white-space: nowrap;
  font-size: 12px;
}

#task-details-table {
  display: none;
}

#simulation-output {
  overflow: auto;
  white-space: nowrap;
  font-size: 12px;
}

#simulation-output-card span {
  margin-left: 15px;
}

#chart {
  height: 400;
  width: 800px;
  margin: auto;
  display: none;
}

#legend small {
  padding-left: 3px;
  margin-right: 5px;
  border-radius: 3px;
}

#legend-read-input {
  border-left: 15px solid #cbb5dd;
}

#legend-computation {
  border-left: 15px solid #f7daad;
}

#legend-write-output {
  border-left: 15px solid #abdcf4;
}

.x-axis path .x-axis line {
    shape-rendering: crispEdges;
}

.x-axis text {
  font-family: sans-serif;
}

.x-axis {
  color: gray;
}

.y-axis {
  color: gray;
}

.read-col {
  background-color: #efe8f4;
}

.compute-col {
  background-color: #f9eedb;
}

.write-col {
  background-color: #e2f5ff;
}

#tooltip {
    position: absolute;
    width: auto;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 2px;
    border: 0px solid #000;
    pointer-events: none;
    display: none;
    font-family: sans-serif;
    font-size: 12px;
}
